{
  "openapi": "3.1.0",
  "info": {
    "title": "Homework Submission API",
    "description": "API for submitting homework and accessing AI-powered review chatbot",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.lexiconlabs.ai"
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/v1/homeworks": {
      "get": {
        "description": "Get all homework assignments",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of assignments to return per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of items to skip before starting to collect results",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "teacherId",
            "in": "query",
            "description": "Filter assignments by teacher UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "courseId",
            "in": "query",
            "description": "Filter assignments by course ID(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter assignments",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all assignments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeworkAssignmentPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/homeworks/{homeworkId}/submissions": {
      "post": {
        "description": "Upload homework files for AI review",
        "parameters": [
          {
            "name": "homeworkId",
            "in": "path",
            "required": true,
            "description": "UUID of the homework assignment being submitted",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["studentId", "files"],
                "properties": {
                  "studentId": {
                    "type": "string",
                    "description": "The ID of the student submitting the homework"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "The files containing the student's homework solution (max 10 files)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Homework submission created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HomeworkSubmission"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Homework not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Processing error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HomeworkAssignmentPage": {
        "type": "object",
        "required": [
          "prevPage",
          "nextPage",
          "data"
        ],
        "properties": {
          "prevPage": {
            "type": "boolean",
            "description": "Indicates if there's a previous page of results"
          },
          "nextPage": {
            "type": "boolean",
            "description": "Indicates if there's a next page of results"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HomeworkAssignment"
            },
            "description": "Array of homework assignment objects"
          },
          "total": {
            "type": "integer",
            "description": "Total number of assignments matching the query"
          }
        }
      },
      "HomeworkAssignment": {
        "type": "object",
        "required": [
          "id",
          "tenantId",
          "teacherId",
          "assignmentId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the homework assignment"
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant identifier"
          },
          "teacherId": {
            "type": "string",
            "format": "uuid",
            "description": "ID of the teacher who created the assignment"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique assignment identifier"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the homework assignment"
          },
          "courseId": {
            "type": "string",
            "description": "ID of the course this homework belongs to"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignment was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the assignment was last updated"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "File identifier"
                },
                "fileName": {
                  "type": "string",
                  "description": "Name of the file"
                }
              }
            },
            "description": "Array of files associated with the homework assignment"
          },
          "submissions": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Array of student submissions for this homework assignment"
          }
        }
      },
      "HomeworkSubmission": {
        "type": "object",
        "required": [
          "id",
          "homeworkId",
          "chatId",
          "status",
          "chatIframeUrl",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the submission"
          },
          "homeworkId": {
            "type": "string",
            "format": "uuid",
            "description": "The UUID of the homework being submitted"
          },
          "chatId": {
            "type": "string",
            "description": "The ID of the chat session created for this submission review"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission",
            "enum": ["submitted", "reviewed", "approved", "needs_revision"]
          },
          "chatIframeUrl": {
            "type": "string",
            "description": "URL for the chat interface"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the submission was created"
          },
          "analysis": {
            "type": "string",
            "description": "AI analysis of the submission"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-tenant-api-secret"
      }
    }
  }
}